@media (min-width: 1012px) {
    .border-lg-bottom-0 {
        border-bottom: 0 !important;
    }
}

.border-bottom {
    border-bottom: 1px solid lightgray !important;
}

.rounded {
    border-radius: 6px !important;
}