.z-1 {
    z-index: 1 !important;
}

.z-2 {
    z-index: 2 !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.position-absolute {
    position: absolute !important;
}

.position-fixed {
    position: fixed !important;
}


@media (min-width: 1012px) {
    .h1-mktg {
        font-size: 72px !important;
        line-height: 76px !important;
    }
    .position-lg-relative {
        position: relative !important;
    }
}


@media (min-width: 768px) {
    .text-md-left {
        text-align: left !important;
    }
    // .h1-mktg {
    //     font-size: 40px !important;
    //     line-height: 44px !important;
    //     letter-spacing: 800 !important;
    // }
}

.text-center {
    text-align: center !important;
}



.height-full {  
    height: 100% !important;
}

.height-fit {
    max-height: 100% !important;
}

.container-x1 {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.events-none {
    pointer-events: none;
}

    // .h1-mktg {
    //     font-size: 40px !important;
    //     line-height: 44px !important;
    //     letter-spacing: 800 !important;
    // }

.color-text-white {
    color: white !important;
}

.position-relative {
    position: relative !important;
}

.list-style-none {
    list-style: none !important;
}

.no-underline {
    text-decoration: none !important;
}