// Specific CSS for your home-page
.home-container {
    min-height: 750px;
    max-height: 926px;
    background-color: #040d21;
}

@media (min-width: 768px) {
    .home-hero-container {
        height: 94vh;
        min-height: 860px;
    }
}

@media (min-width: 544px) {
    .home-hero-container {
        min-height: 850px;
    }
}

.panels-home {
    padding: 8rem 0 0;
}

.home-glow {
    top: 50%;
    left: 50%;
    width: 200%;
    transform: translate(-50%, -50%);
}

img {
    border-style: none;
}