<div class="banner">
    <div class="home-container position-relative">
        <div class="panels-home position-absolute z-1 top-0 right-0 bottom-0 left-0 overflow-hidden">
            <div class="d-flex flex-column flex-justify-between mx-auto container-x1 p-responsive height-full pb-md-9">
                <div class="d-flex guttter gutter-spacious flex-column flex-lg-row flex-items-center height-full px-0 px-lg-3">
                    <div class="col-12 col-lg-6 text-center text-md-left">
                        <h1 class="h1-mktg color-text-white mb-3 position-relative z-2">Bringing renewable energy to  <strong>you</strong>!</h1>
                        
                        <p class="f2-mktg text-normal text-gray-light-mktg mr-1g-n4 mb-4 position-relative z-2">Save
                            <span id="banner-typed-text"></span>
                        
                            <br>
                            <br>
                           
                        </p>                  
                    </div>
                    
                    <%= image_tag("home-glow.svg", class:"position-absolute home-glow events-none z-1") %>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container" style="min-height: 400px; margin-top: 100px;">
    <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div>

</div>